<!-- Theme style  -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% import "bootstrap/wtf.html" as wtf %}

<!-- <form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
-->
<body class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please Login below</h1>
        <form action="{{ url_for('login') }}" method="POST" style="width: 30%; position: relative;left: 35%;">
             {{ form.hidden_tag() }}
             {{ wtf.form_field(form.email) }}
             {{ wtf.form_field(form.password) }}
    <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" input type="submit" value="login" style="background-color: #08a12e;">Login</button>
    
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </div>
</body>
